<meta charset="utf-8">
<title>Admin Bereich</title>
<!-- minimierte Bootstrap-CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- Normalize-CSS nach Nicolas Gallagher und Jonathan Neal (Necolas) -->
<link href="../css/normalize.css" rel="stylesheet">

<!-- eigene CSS -->
<link href="css/admin.css" rel="stylesheet">

<!-- jQuery (benötigt für Bootstrap's JavaScript Plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- minimierte Bootstrap-JavaScript -->
<script src="../js/bootstrap.min.js"></script>
