<div class="table-responsive">
							  <table class="table">
							   
							 <form role="form" enctype="multipart/form-data" method="post" action="admin.php?page=gh">
							 			<tr><th>Kundennummer</th>
								  		<th>Firma</th>
								      <th>Straße</th>
								     <th>Plz</th></tr>
							  <tr><td><input type="text" name="kdr" class="form-control" value=""></td>
										<td><input type="text" name="firma" class="form-control" value=""></td>
										<td><input type="text" name="strasse" class="form-control" value=""></td>
										<td><input type="text" name="plz" class="form-control" value=""></td></tr>
										<tr><th>Ort</th>
								  <th>HRB</th>
								  <th>UST</th>
								  <th>Gewerbeschein</th></tr>
								  <tr><td><input type="text" name="ort" class="form-control" value=""></td>
										<td><input type="text" name="hrb" class="form-control" value=""></td>
										<td><input type="text" name="ust" class="form-control" value=""></td>
										<td><div >
                        					<input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
                            				<input type="file" name="Datei" value="Datei" class="blog-nav-item btn btn-default btn-sm"/>
                        		</div> </td></tr>
									<tr><th>Telefon</th>
								  <th>Fax</th>
								  <th>Email</th>
								  <th>URL</th></tr>
								  <tr><td><input type="text" name="tele" class="form-control" value=""></td>
										<td><input type="text" name="fax" class="form-control" value=""></td>
										<td><input type="text" name="email" class="form-control" value=""></td>
										<td><input type="text" name="url" class="form-control" value=""></td></tr>
										 <tr> <th>Anrede</th>
								  <th>Vorname AP</th>
								  <th>Nachname AP</th>
								  <th>Freigeschalten</th></tr>
								  <tr><td><input type="text" name="anrede" class="form-control" value=""></td>
										<td><input type="text" name="vorname_ap" class="form-control" value=""></td>
										<td><input type="text" name="nachname_ap" class="form-control" value=""></td>
										<td><input type="text" name="freigeschalten" class="form-control" value=""></td>
										<td><button type="submit" name="neukd" value="" class="btn btn-primary">Neu Anlegen</button></td></tr>
										</form>
										
							</table>
							</div>
					
