<div class="table-responsive">
							  <table class="table">
							 
							 
							 <form role="form" enctype="multipart/form-data" method="post" action="admin.php?page=pr">
							 			<tr><th>Artikelnummer</th>
								  		<th>Produktname</th></tr>
										<tr><td><input type="text" name="artikelnummer" class="form-control" value=""></td>
										<td><input type="text" name="produktname" class="form-control" value=""></td></tr>
								      <tr><th>Kurzbeschreibung</th>
								     <th>Beschreibung</th></tr>
										<tr><td><input type="text" name="kurzbeschreibung" class="form-control" value=""></td>
										<td><input type="text" name="beschreibung" class="form-control" value=""></td></tr>
							     <tr><th>Verkaufseinheit</th>
								  <th>VBP</th>
								  <th>Bild</th></tr>
								  <tr><td><input type="text" name="ve" class="form-control" value=""></td>
										<td><input type="text" name="vbp" class="form-control" value=""></td>
										<td><div >
                        					<input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
                            				<input type="file" name="Datei" value="Datei" class="blog-nav-item btn btn-default btn-sm"/>
                        		</div> </td>
										<td><button type="submit" name="neup" value="" class="btn btn-primary">Neu Anlegen</button></td></tr>
										</form>
										
							</table>
							</div>
					
