 <!-- Inhalt Index -->
<div class="container">
	<div class="container-fluid">
		<p class="lead">
        	<h1 class="text-center">Willkommen bei <strong>Peijo</strong>!</h1><br>
			<p id="einleitung" class="text-center">Sie suchen Falafel, Hummus oder andere glutenfreie & vegane Spezialitäten?<br>
			Dann sind Sie hier richtig!
            </p>
      	</p><br>
   	</div>
<!-- Bilderkarussel Content -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%; height: auto;">
<!-- Karussel: Positionsanzeiger -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
<!-- Karussel: Verpackung für die Elemente -->
<!-- Bild 1 -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="img/slider3.png">
                <div class="carousel-caption">
                    <h3>Vegan...</h3>
                    alte Familienrezepte
                </div>
            </div>
<!-- Bild 2 -->
            <div class="item">
                <img src="img/slider2.png">
                <div class="carousel-caption">
                    <h3>...glutenfrei...</h3>
                    moderne Produktionsmethoden
                </div>
            </div>
<!-- Bild 3 -->
            <div class="item">
                <img src="img/slider1.png">
                <div class="carousel-caption">
                    <h3>...lecker!</h3>
                    täglich frische Produktion in Deutschland nach deutschen Standards
                </div>
            </div>
        </div>
<!-- Karussel: Schalter für Vor- und Zurückoption-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Zurück</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Weiter</span>
        </a>
	</div>
</div>
