<!-- Inhalt Datenschutz -->
<div class="modal fade" id="datenschutzpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" style="color: #000000;"><strong>Datenschutz</strong></h4>
			</div>
			<div class="modal-body" style="color: #000000;">
				<p class="lead">
            	<h1 class="text-center">Datenschutzerklärung</h1>
            	</p><br><br><br>
 Vielen Dank für Ihr Interesse an unserem Onlineauftritt. Der Schutz Ihrer persönlichen Daten liegt uns sehr am Herzen. An dieser Stelle möchten wir Sie daher über den Datenschutz in unserem Unternehmen informieren. Selbstverständlich beachten wir die gesetzlichen Bestimmungen des Datenschutzgesetzes (BDSG) des Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen.<br><br>
Bei Ihren persönlichen Daten können Sie uns vertrauen! Sie werden durch digitale Sicherheitssysteme verschlüsselt und an uns übertragen. Unsere Webseiten sind durch technische Maßnahmen gegen Beschädigungen, Zerstörung oder unberechtigten Zugriff geschützt.<br><br><br>
<u>Gegenstand des Datenschutzes</u><br><br>
Gegenstand des Datenschutzes sind personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönlich oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer, ggf. aber auch Nutzungsdaten wie Ihre IP-Adresse.<br><br><br>
<u>Umfang der Datenerhebung und -speicherung</u><br><br>
Im Allgemeinen ist es für die Nutzung unserer Internetseite nicht erforderlich, dass Sie personenbezogene Daten angeben. Damit wir unsere Dienstleistungen aber tatsächlich erbringen können, benötigen wir ggf. Ihre personenbezogenen Daten. Dies gilt sowohl bei der Zusendung von Informationsmaterial oder bestellter Ware sowie auch für die Beantwortung individueller Anfragen.<br><br>
Wenn Sie uns mit der Erbringung einer Dienstleistung oder der Zusendung von Ware beauftragen, erheben und speichern wir Ihre persönlichen Daten grundsätzlich nur, soweit es für die Erbringung der Dienstleistung oder die Durchführung des Vertrages notwendig ist. Dazu kann es erforderlich sein, Ihre persönlichen Daten an Unternehmen weiterzugeben, die wir zur Erbringung der Dienstleistung oder zur Vertragsabwicklung einsetzen. Dies sind z. B. Transportunternehmen oder andere Service-Dienste.<br><br>
Nach vollständiger Vertragsabwicklung werden Ihre Daten gesperrt und nach Ablauf der steuer- und handelsrechtlichen Vorschriften gelöscht, sofern Sie nicht ausdrücklich einer darüber hinausgehende Datenverwendung zugestimmt haben.<br><br>
Wenn Sie sich mit Ihrer E-Mail-Adresse für unseren Newsletter angemeldet haben, nutzen wir Ihre E-Mail-Adresse auch über die Vertragsdurchführung hinaus für eigene Werbezwecke, bis Sie sich vom Newsletter-Bezug abmelden.<br><br><br>
<u>Daten-Erhebung durch Nutzung von Google-Analytics</u><br><br>
Unsere Webseite benutzt Google-Analytics, einen Webanalysedienst, der Google inc. Google-Analytics verwendet sogenannte „Cookies“. Dabei handelt es sich um Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse ihrer Benutzung der Website ermöglicht. Erfasst werden beispielsweise Informationen zum Betriebssystem, zum Browser, Ihrer IP-Adresse, die von Ihnen zuvor aufgerufene Webseite (Referrer-URL) und Datum und Uhrzeit Ihres Besuchs auf unserer Webseite. Die durch diese Textdatei erzeugten Informationen über die Benutzung unserer Webseite werden an einen Server von Google in den USA übertragen und dort gespeichert.<br><br>
Google wird diese Information benutzen, um Ihre Nutzung unserer Webseite auszuwerten, um Reports über die Webseitenaktivität für die Webseitenbetreiber zusammen zu stellen und um weitere mit der Webseitennutzung und der Internetnutzung verbundenen Dienstleistungen zu erbringen. Sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten, wird Google diese Information auch an diese Dritten weitergeben. Diese Nutzung erfolgt anonymisiert oder pseudonymisiert. Nähere Informationen darüber finden Sie direkt bei Google http://www.google.com/intl/de/privacypolicy.html#information<br><br><br>
<u>Google benutzt das DoubleClick DART-Cookie</u><br><br>
Nutzer können die Verwendung des DART-Cookies deaktivieren, indem sie die Datenschutzbestimmungen des Werbenetzwerks und Content-Werbenetzwerks von Google aufrufen.<br><br>
Dabei werden keinerlei unmittelbare persönliche Daten des Nutzers gespeichert, sondern nur die Internetprotokoll–Adresse. Diese Informationen dienen dazu, Sie bei Ihrem nächsten Besuch auf unseren Websites automatisch wiederzuerkennen und Ihnen die Navigation zu erleichtern. Cookies erlauben es uns beispielsweise, eine Website Ihren Interessen anzupassen oder Ihr Kennwort zu speichern, damit Sie es nicht jedes Mal neu eingeben müssen.<br><br>
Selbstverständlich können Sie unsere Websites auch ohne Cookies betrachten. Wenn Sie nicht möchten, dass wir Ihren Computer wiedererkennen, können Sie das Speichern von Cookies auf Ihrer Festplatte verhindern, indem Sie in Ihren Browser-Einstellungen "keine Cookies akzeptieren" wählen. Wie das im einzelnen funktioniert, entnehmen Sie bitte der Anleitung Ihres Browser-Herstellers. Wenn Sie keine Cookies akzeptieren, kann dieses aber zu Funktionseinschränkungen unserer Angebote führen.<br><br>
Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihres Internetsbenutzungsprogramms (Browser) verhindern. Dazu müssen Sie in Ihrem Internet-Browser die Speicherung von Cookies ausschalten. Nähere Informationen hierzu übernehmen Sie bitte den Benutzungshinweisen Ihres Internet-Browsers.<br><br><br>
<u>Erhebung und Speicherung von Nutzungsdaten</u><br><br>
Zur Optimierung unserer Webseite sammeln und speichern wir Daten wie z. B. Datum und Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite aufgerufen haben und ähnliches, sofern Sie dieser Datenerhebung und -speicherung nicht widersprechen. Dies erfolgt anonymisiert, ohne den Benutzer der Seite persönlich zu identifizieren. Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt. Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden natürlichen Personen mit den erhobenen Nutzungsdaten zur Erhebung und Speicherung der Nutzungsdaten setzen wir auch Cookies ein. Dabei handelt es sich um kleine Textdateien, die auf Ihrem Computer gespeichert werden und zur Speicherung von statistischen Information wie Betriebssystem, Ihrem Internetbenutzungsprogramm (Browser), IP-Adresse, der zuvor aufgerufene Webseite (Referrer-URL) und der Uhrzeit dienen.<br><br>
Diese Daten erheben wir ausschließlich, zu statistischen Zwecken, um unseren Internetauftritt weiter zu optimieren und unsere Internetangebote noch attraktiver gestalten zu können. Die Erhebung und Speicherung erfolgt ausschließlich in anonymisierter oder pseudonymisierter Form und lässt keinen Rückschluss auf Sie als natürlich Person zu.<br><br><br>
<u>Zweckgebundene Datenverwendung</u><br><br>
Wir beachten den Grundsatz der zweckgebundenen Daten-Verwendung und erheben, verarbeiten und speichern Ihre personenbezogenen Daten nur für die Zwecke, für die Sie sie uns mitgeteilt haben. Eine Weitergabe Ihrer persönlichen Daten an Dritte erfolgt ohne Ihre ausdrückliche Einwilligung nicht, sofern dies nicht zur Erbringung der Dienstleistung oder zur Vertragsdurchführung notwendig ist. Auch die Übermittlung an auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden.<br><br>
Auch den unternehmensinternen Datenschutz nehmen wir sehr ernst. Unsere Mitarbeiter und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden.<br><br><br>
<u>Auskunft- und Widerrufsrecht</u><br><br>
Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten. Sie können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder löschen lassen und der anonymisierten oder pseudonymisierten Datenerhebung und -speicherung zu Optimierungszwecken unserer Website widersprechen. Auch können Sie jederzeit die uns erteilte Einwilligung zur Datenerhebung und Verwendung ohne Angaben von Gründen widerrufen. Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse. Wir stehen Ihnen jederzeit gern für weitergehende Fragen zu unserem Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur Verfügung.<br><br><br>
Beachten sie, dass sich Datenschutzbestimmungen und Handhabungen zum Datenschutz, z. B. bei Google, laufend ändern können. Es ist daher ratsam und erforderlich, sich über Veränderungen der gesetzlichen Bestimmungen und der Praxis von Unternehmen, z. B. Google, laufend zu informieren.<br><br><br>
<!-- Zurückbutton -->
				<div class="modal-footer">
					<button id="buttondpopup" type="button" class="btn btn-primary" data-dismiss="modal">Zurück</button>
				</div>
            </div>				
		</div>
	</div>
</div>