<!-- Footer -->
    <footer class="footer">
    	<div class="container">
        	<div id="footer">
        	<ul class="nav navbar-nav">
            <li><a data-toggle="modal" href="#agbpopup">AGB's</a></li>
            <li id="navabstand"><a data-toggle="modal" href="#datenschutzpopup">Datenschutz</a></li>
            <li id="navabstand"><a data-toggle="modal" href="#impressumpopup">Impressum</a></li>        
        	</ul>
            <div id="newsletter" class="container"> 
            	<div class="row">
                	<div class="span12">
                    	<form action="" method="post">
                        	<div class="input-prepend">
                            	<span class="add-on">
                                	<i class="icon-envelope"></i></span>
                                <div id="emaileingabenewsletter">
                                	<input type="text" id="email" name="" placeholder="ihre@email.de">
                                </div>
                             </div><br/>
                             <div id="anmelden">
                             <input id="anmeldenbutton" type="submit" value="Newsletter Anmeldung" class="btn btn-large"/>
                       	     </div>
                         </form>
                     </div>
            	</div>
            </div>
            
            
            <div class="center-block">
          		<a href="#deoeko"><img id="deoeko" class="img-responsive" src="img/deoeko.png"></a>
            </div>
          	<p id="textfooter">unser Betrieb ist<br>
            	biozertifiziert<br>
                durch DE-ÖKO-007</p>
        	</div>
		</div>
    </footer>