<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div id="footer">
<!-- Links -->
        <ul class="nav navbar-nav">
            <li><a data-toggle="modal" href="#agbpopup">AGB's</a></li>
            <li id="navabstand"><a data-toggle="modal" href="#datenschutzpopup">Datenschutz</a></li>
            <li id="navabstand"><a data-toggle="modal" href="#impressumpopup">Impressum</a></li>       
        </ul>
<!-- Text und Bild mit Verlinkung DE-ÖKO-007 -->
        <div class="center-block">
            <a href="http://www.pruefverein.de/"><img id="deoeko" class="img-responsive" src="img/deoeko.png"></a>
        </div>
        <p id="textfooter">unser Betrieb ist<br>
            biozertifiziert<br>
            durch DE-ÖKO-007</p>
        </div>
    </div>
</footer>