<!-- HTML TEIL DER NICHT VON DATENBANK KOMMT -->
<div class="container"> 
			<p class="lead">
				<h1 class="text-center">Händlersuche</h1>
			</p><br>
			<p id="hseinleitung">Bitte Postleitzahl eingeben.</p>
<!-- Suchfunktion Händler -->
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Postleitzahl">
				</div>
				<button type="submit" class="btn btn-default">Suchen</button>
			</form>
		</div><br><br><br>




<!-- PRAKTISCH ALLES WAS NICHT AUS DER DATENBANK KOMMT MUSS ALS EIGENES ELEMENT FUNKTIONIEREN KÖNNEN -->


<!-- PHP TEIL DER  VON DATENBANK KOMMT -->
<div class="container">
<h4>Wir haben folgende Händler für Sie gefunden:</h4><br><br>          
<!-- Händlertabelle -->      
		<table class="table">
      		<thead>
        		<tr>
          			<th class="text-center">Firmenname</th>
          			<th class="text-center">Anschrift</th>
          			<th class="text-center">Postleitzahl</th>
          			<th class="text-center">Ort</th>
          			<th class="text-center">URL</th>
          			<th class="text-center">E-Mail</th>
         			<th class="text-center">Telefon</th>
          			<th class="text-center">Öffnungszeiten</th>
        		</tr>
      		</thead>
      		<tbody>
        		<tr>
          			<td class="text-center">Firma X</td>
          			<td class="text-center">Anschrift X</td>
          			<td class="text-center">PLZ X</td>
          			<td class="text-center">Ort X</td>
          			<td class="text-center">URL X</td>
          			<td class="text-center">E-Mail X</td>
          			<td class="text-center">Telefon X</td>
          			<td class="text-center">Öffnungszeiten X</td>
        		</tr>
      		</tbody>
		</table>    
		</div>