<meta charset="utf-8">
<meta name="language" content="de">
<meta name="keywords" content="agb, impressum, datenschutz, kontakt, händler, falafel, bio, vegan, hummus, glutenfrei, peijo, hechingen, zubereitung, zutaten, allergie, allergiker, fertigmischung, vegetarisch, frisch, zertifizierung, fallafel, falaffel, fallaffell, vegetarische, vegetarisches, vegetarischer, veganes, veganer, hommos, humus, mutabal, auberginen, auberginen-sesam-mus, sesam, tahine, tübingen, stuttgart, mannheim, heidelberg, deutschland, frankfurt, reutlingen, lecker, kichererbsen, gesund, nahrhaft, vitaminreich, biologisch, biologisch-kontrolliert, öko, ökologisch, ökologische nahrungsmittel, bio-nahrungsmittel, echt bio, partyservice, finger-food, party-food, tiefkühlkost, tiefkühlware, kühlware, gekühlt, tiefgekühlt, zertifiziert, nahrungsmittel, nahrungsmittelproduktion, bio-Qualität, bioqualität, lebensqualität, knusprig, fleischarm, fleischlos, peijo, pax an, döner, kebap, döner-kebap, pommes-frites, tahine, tahine-soße, joghurt-sesam-soße, handelskontor willmann, rinklin, naturkost, menson, gluten, dennree, kantine, mensa, nachhaltig, veggie-street-day, vegan-wonderland, veggilicous, kostbar, scheurenbrand">
<meta name="description" content="Wer Falafel oder andere leckere glutenfreie und vegane Lebensmittel sucht, ist hier richtig! Die Peijo GbR produziert Lebensmittel in konventioneller und in Bio-Qualität.">
<meta name="robots" content="index,follow">
<meta name="audience" content="alle">
<meta name="page-topic" content="Peijo, Händler, Bio, Vegan">
<meta name="revisit-after" CONTENT="7 days">
<title>Peijo Handels-GbR</title>

<!-- minimierte Bootstrap-CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Normalize-CSS nach Nicolas Gallagher und Jonathan Neal (Necolas) -->
<link href="css/normalize.css" rel="stylesheet">

<!-- eigene CSS -->
<link href="css/main.css" rel="stylesheet">

<!-- jQuery (benötigt für Bootstrap's JavaScript Plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- minimierte Bootstrap-JavaScript -->
<script src="js/bootstrap.min.js"></script>