<!-- Inhalt Impressum -->
<div class="modal fade" id="impressumpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" style="color: #000000;"><strong>Impressum</strong></h4>
			</div>
			<div class="modal-body" style="color: #000000;"><br><br><br>
				<h4>Peijo GbR</h4><br>
Nierlochstraße 2<br>
72379 Hechingen<br><br>
Tel: +49 7471 - 871 931<br>
Fax: +49 7471 - 871 910<br><br>
E-Mail: info@peijo.de<br><br>
<u>Geschäftsführer</u>:<br><br>
Hossam Ekkawi<br>
Joachim Winkler<br><br>
St-Nr.: 53090/09762<br>
Ust-Id-Nr.: DE 814776070<br><br>
Sitz der Gesellschaft ist Hechingen<br><br>
<u>Gerichtsstand</u>: Amtsgericht Hechingen<br><br>
ILN: 4 260144 27001 1<br><br>
<u>Aufsichtführende Ökokontrollstelle</u>:<br><br>
Prüfverein Verarbeitung ökologische Landbauprodukte e.V.<br>
Vorholzstraße 36<br>
76137 Karlsruhe<br>
DE-ÖKO-007<br><br>
Kontrollstellenleiter: Martin Rombach<br><br>
<u>Qualitätsüberwachung Lebensmittelhygiene</u>:<br><br>
Institut Prof. Dr. Pieldner<br>
Julius-Hölder-Str. 20<br>
D-70597 Stuttgart<br><br>
<u>Haftungshinweis</u><br><br>
Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte 	externer Links.<br>Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br><br><br>
<!-- Zurückbutton -->
				<div class="modal-footer">
					<button id="buttonipopup" type="button" class="btn btn-primary" data-dismiss="modal">Zurück</button>
				</div>
            </div>				
		</div>
	</div>
</div>