<div class="alert alert-success">
  <a href="index.php?page=produkte" class="close" data-dismiss="alert" aria-label="OK">&times;</a>
  <strong>Erfolgreich!</strong> in den Warenkorb hinzugefügt.
</div>