<!-- Inhalt Kontakt -->
<div class="container">
	<div class="container-fluid">
    	<p class="lead">
        	<h1 class="text-center">Kontakt</h1>
        </p><br><br><br>
		<h4>Peijo GbR</h4><br><br>
Hossam Ekkawi & Joachim Winkler<br>
Nierlochstraße 2<br>
D-72379 Hechingen<br><br>
Sie haben Fragen? Einfach anrufen.<br><br>
Sie erreichen uns unter:<br>
Tel.: +49 7471 - 871 931<br>
Fax: +49 7471 - 871 910<br><br>
Oder schreiben Sie uns hier direkt eine Nachricht!<br><br>
<!-- Kontaktformular -->
<!-- Eingabefeld Vor- und Nachname -->
		<form class="form-horizontal" role="form" method="post" action="index.php">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Vor- und Nachname" value="">
				</div>
			</div>
<!-- Eingabefeld E-Mail -->
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">E-Mail</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="emailzwei" name="email" placeholder="ihre@email.de" value="">
				</div>
			</div>
<!-- Eingabefeld Nachricht -->
			<div class="form-group">
				<label for="message" class="col-sm-2 control-label">Ihre Nachricht</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="4" name="message"></textarea>
				</div>
			</div>
<!-- Eingabefeld Sicherheitsabfrage -->
			<div class="form-group">
				<label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="human" name="human" placeholder="Ihre Antwort">
				</div>
			</div>
<!-- Senden-Funktion -->
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<input id="buttonk" name="submit" type="submit" value="Senden" class="btn btn-primary">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<! Will be used to display an alert to the user>
				</div>
			</div>
		</form>
	</div>
</div>

