<!-- Login Pop-Up -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="bittelogin" class="modal-title" style="color: #000000;">Bitte melden Sie sich an.</h4>
			</div>
			<div class="modal-body">
				<form class="form-signin" method="post" action="index.php?page=log">
					<label for="user" class="sr-only">Kundennummer</label>
					<input type="text" name="user" class="form-control" placeholder="Kundennummer" required autofocus/>
					<label for="passwort" class="sr-only">Passwort</label>
					<input type="password" name="passwort" class="form-control" placeholder="Passwort" required>
					<div class="checkbox">
					<label><input type="checkbox" value="remember-me"><p id="loginpwmerken">Passwort merken</p></label>
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="anmelden" style="background-color: #677f19; border-color: #677f19;">Anmelden</button>
					</div>
                </form>	
			</div>
		</div>        
	</div>
</div>