<!-- Registrier Pop-Up -->
<div id="test" class="modal fade" role="dialog">
	<div class="container">	
		<div class="row">
    		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form role="form" enctype="multipart/form-data" method="post" action="index.php?page=reg">
					<h4 id="regititel" style="color: #ffffff;">Registrierung<small id="beitext"  style="color: #ffffff;">Bitte füllen Sie die erforderlichen Felder aus.</small></h4>
					
            		<div class="form-group">
						<input type="text" name="firma" id="firma" class="form-control input-lg" placeholder="Firmenname (*)" tabindex="1" required>
					</div>
					<div class="form-group">
						<input type="text" name="strasse" id="strasse" class="form-control input-lg" placeholder="Straße (*)" tabindex="2" required>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
                        		<input type="text" name="plz" id="plz" class="form-control input-lg" placeholder="Postleitzahl (*)" tabindex="3" required>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="ort" id="ort" class="form-control input-lg" placeholder="Ort (*)" tabindex="4" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="hrb" id="hrb" class="form-control input-lg" placeholder="Handelsregisternummer" tabindex="5">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="ust" id="ust" class="form-control input-lg" placeholder="Steuernummer" tabindex="6">
							</div>
						</div>
					</div>
           			<div class="form-group">
        				<p id="dateiauswahltext" style="color: #ffffff;">Bitte wählen Sie ein Bild des Gewerbeschein in einem der folgenden Dateiformate
                		".jpg", ".pdf" oder ".png":</p>                     
                        <div id="dateiauswahl">
                        	<input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
                            <input type="file" name="Datei" value="Datei" class="blog-nav-item btn btn-default btn-sm"/>
                        </div>   
					</div>         
        			<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
                        		<input type="text" name="tele" id="tele" class="form-control input-lg" placeholder="Telefon (*)" tabindex="8" required>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="fax" id="fax" class="form-control input-lg" placeholder="Fax" tabindex="9">
							</div>
						</div>
					</div>
            		<div class="row">
            			<div class="form-group">
            				<div class="col-xs-12 col-sm-6 col-md-6">
								<input type="text" name="e_mail" id="e_mail" class="form-control input-lg" placeholder="E-Mail (*)" tabindex="10" required>
							</div>
            			</div>
            			<div class="form-group">
            				<div class="col-xs-12 col-sm-6 col-md-6">
								<input type="text" name="url" id="url" class="form-control input-lg" placeholder="URL" tabindex="11">
							</div>
            			</div>
            		</div>
            		<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
                        		<input type="text" name="vorname" id="vorname" class="form-control input-lg" placeholder="Vorname (*)" tabindex="12" required>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="nachname" id="nachname" class="form-control input-lg" placeholder="Nachname (*)" tabindex="13" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="erklaerung" class="col-xs-8 col-sm-9 col-md-9" style="color: #ffffff;">
					 		Bei Betätigung von <strong  id="erklaerungreg" class="label label-primary">Registrieren</strong> stimmen Sie den <a href="agb-html" data-toggle="modal" data-target="#t_and_c_m" style="color: #677f01;">AGB's</a> zu.
						</div>
					</div>
                    <br><br>
					
					<div class="row">
						<div class="col-xs-12 col-md-6">
                        	<input type="submit" name="reg" id="buttonreg" value="Registrieren" class="btn btn-primary btn-block btn-lg" style="margin-left: 150px;" tabindex="15">
                        </div>
					</div>
				</form>
    		</div>
		</div>
        
		<!-- Modal -->
		<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel" style="color: #000000;">AGB's</h4>
					</div>
					<div class="modal-body" style="color: #000000;">
						<p class="lead">
            	<h1 class="text-center">Allgemeine Geschäftsbedingungen (AGB)</h1>
            			</p><br><br><br>
§ 1 <u>Geltungsbereich und Abwehrklausel</u><br><br>
(1) Für die über diesen Internet-Shop begründeten Rechtsbeziehungen zwischen dem Betreiber des Shops (nachfolgend „Anbieter“) und seinen Kunden gelten ausschließlich die folgenden Allgemeinen Geschäftsbedingungen in der jeweiligen Fassung zum Zeitpunkt der Bestellung.<br><br>
(2) Abweichende Allgemeine Geschäftsbedingungen des Kunden werden zurückgewiesen.<br><br><br>
§ 2 <u>Zustandekommen des Vertrages</u><br><br>
(1) Die Präsentation der Waren im Internet-Shop stellt kein bindendes Angebot des Anbieters auf Abschluss eines Kaufvertrages dar. Der Kunde wird hierdurch lediglich aufgefordert, durch eine Bestellung ein Angebot abzugeben.<br><br>
(2) Durch das Absenden der Bestellung im Internet-Shop gibt der Kunde ein verbindliches Angebot gerichtet auf den Abschluss eines Kaufvertrages über die im Warenkorb enthaltenen Waren ab. Mit dem Absenden der Bestellung erkennt der Kunde auch diese Geschäftsbedingungen als für das Rechtsverhältnis mit dem Anbieter allein maßgeblich an.<br><br>
(3) Der Anbieter bestätigt den Eingang der Bestellung des Kunden durch Versendung einer Bestätigungs-E-Mail. Diese Bestellbestätigung stellt noch nicht die Annahme des Vertragsangebotes durch den Anbieter dar. Sie dient lediglich der Information des Kunden, dass die Bestellung beim Anbieter eingegangen ist. Die Erklärung der Annahme des Vertragsangebotes erfolgt durch die Auslieferung der Ware oder eine ausdrückliche Annahmeerklärung.<br><br><br>
§ 3 <u>Eigentumsvorbehalt</u><br><br>
Die gelieferte Ware verbleibt bis zur vollständigen Bezahlung im Eigentum des Anbieters.<br><br><br>
§ 4 <u>Fälligkeit</u><br><br>
Die Zahlung des Kaufpreises ist mit Vertragsschluss fällig.<br><br><br>
§ 5 <u>Gewährleistung</u><br><br>
(1) Die Gewährleistungsrechte des Kunden richten sich nach den allgemeinen gesetzlichen Vorschriften, soweit nachfolgend nichts anderes bestimmt ist. Für Schadensersatzansprüche des Kunden gegenüber dem Anbieter gilt die Regelung in § 6 dieser AGB.<br><br>
(2) Die Verjährungsfrist für Gewährleistungsansprüche des Kunden beträgt bei Verbrauchern bei neu hergestellten Sachen 2 Jahre, bei gebrauchten Sachen 1 Jahr. Gegenüber Unternehmern beträgt die Verjährungsfrist bei neu hergestellten Sachen und bei gebrauchten Sachen 1 Jahr. Die vorstehende Verkürzung der Verjährungsfristen gilt nicht für Schadensersatzansprüche des Kunden aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit sowie für Schadensersatzansprüche aufgrund einer Verletzung wesentlicher Vertragspflichten.<br>
Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Die vorstehende Verkürzung der Verjährungsfristen gilt ebenfalls nicht für Schadensersatzansprüche, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Gegenüber Unternehmern ebenfalls ausgenommen von der Verkürzung der Verjährungsfristen ist der Rückgriffsanspruch nach § 478 BGB.<br><br>
(3) Eine Garantie wird von dem Anbieter nicht erklärt.<br><br><br>
§ 6 <u>Haftungsausschluss</u><br><br>
(1) Schadensersatzansprüche des Kunden sind ausgeschlossen, soweit nachfolgend nichts anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, sofern der Kunde Ansprüche gegen diese geltend macht.<br><br>
(2) Von dem unter Ziffer 1 bestimmten Haftungsausschluss ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Von dem Haftungsausschluss ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen.<br><br>
(3) Vorschriften des Produkthaftungsgesetzes (ProdHaftG) bleiben unberührt.<br><br><br>
§ 7 <u>Abtretungs- und Verpfändungsverbot</u><br><br>
Die Abtretung oder Verpfändung von dem Kunden gegenüber dem Anbieter zustehenden Ansprüchen oder Rechten ist ohne Zustimmung des Anbieters ausgeschlossen, sofern der Kunde nicht ein berechtigtes Interesse an der Abtretung oder Verpfändung nachweist.<br><br><br>
§ 8 <u>Aufrechnung</u><br><br>
Ein Aufrechnungsrecht des Kunden besteht nur, wenn seine zur Aufrechnung gestellte Forderung rechtskräftig festgestellt wurde oder unbestritten ist.<br><br><br>
§ 9 <u>Rechtswahl & Gerichtsstand</u><br><br>
(1) Auf die vertraglichen Beziehungen zwischen dem Anbieter und dem Kunden findet das Recht der Bundesrepublik Deutschland Anwendung. Von dieser Rechtswahl ausgenommen sind die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Kunde seinen gewöhnlichen Aufenthalt hat. Die Anwendung des UN-Kaufrechts ist ausgeschlossen.<br><br>
(2) Gerichtsstand für alle Streitigkeiten aus dem Vertragsverhältnis zwischen dem Kunden und dem Anbieter ist der Sitz des Anbieters, sofern es sich bei dem Kunden um einen Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen handelt.<br><br><br>
§ 10 <u>Salvatorische Klausel</u><br><br>
Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein, wird davon die Wirksamkeit der übrigen Bestimmungen nicht berührt.<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>