<!-- Inhalt Über Uns -->
<div class="container">
	<div class="container-fluid">
	<p class="lead">
    	<h1 class="text-center">Wir über uns</h1>
    </p><br><br><br>
	<h4>Das ist unser Erfolgsrezept!</h4><br><br>
Wir schreiben das Jahr 1991. Gerade hat in Tübingen der erste Falafel-Imbiss seine Pforten geöffnet: „Die Kichererbse“. Der Koch der ersten Stunde ist Hossam Ekkawi, erst wenige Monate zuvor hatte er seine Heimat Beirut verlassen „Die Kichererbse“ ist von Anfang an ein Erfolg! Joachim Winkler, ein Tübinger Student, wird dort Stammkunde, und mit der Zeit freunden sich die beiden an: Der Koch und der Bio-Student.<br><br>
    
2006 ist es dann so weit: Die Peijo GbR wird in Hechingen am Fuße der Schwäbischen Alb 	gegründet. Unser Ziel ist es von Anfang an, Falafel und andere vegane Leckereien aus dem östlichen Mittelmeerraum in höchster Qualität und Authentizität in Bio-Qualität herzustellen. Mittlerweile steht die Peijo GbR hunderten von Partnern in Deutschland, Österreich, der Schweiz und Frankreich als Lieferant zur Verfügung. Bei Messeauftritten und Verkostungen am point of sale erleben wir immer wieder, dass die Kunden von der hohen Qualität und dem feinen Geschmack unserer Speisen begeistert sind.<br><br>

Das Schöne an unseren Produkten ist, dass wir sie nicht erst „designen“ mussten. Falafel und Co. gibt es schon seit Jahrhunderten und sie sind schon immer vegan, glutenfrei und laktosefrei! Der einzigartige Geschmack userer Produkte beruht auf Ihrer Ursprünglichkeit. Keine langen Zutatenlisten, keine Zusätze, Hilfsstoffe oder Aromen - es kommt nichts hinein, was nicht hinein gehört. Bei uns mussten sich nicht die Produkte an die Maschinen anpassen, sondern die Maschinen wurden so entworfen, dass wir mit ihnen unsere Produkte unverfälscht herstellen können.<br><br><br><br>
	</div>
</div>
