@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Lato);

*{
	font-family: Lato;
}

#banner{
	padding-top: 2%;
}

.navbar-brand{
	padding: 0px;
}

#logo{
	padding-left: 15px;	
}

.navbar-brand>img{
	height: 100%;
	width: auto;
}

body{
    background: url('../../img/Black_background-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	display: block;
	color: #ffffff;
	margin-bottom: 60px;
}

#navigationcss{
	background-color: #78951a;	
	border: none;
}

.active a{
    background-color: #677f19 !important;
}

.navbar .nav li a{
	color: #ffffff;
}

#navabstand{
	padding-left: 8px;	
}

#suchmaschine{
	margin-left: 2.5%;	
}

#anzahl{
	color: #677f19;
	margin-left: 4px;
}

.container-fluid{
	background-color: rgba(103, 127, 25, 0.6);
}

.pnav{
	font-size: 30px;	
}

html{
	position: relative;
  	min-height: 100%;
}

.footer{
  	position: fixed;
  	bottom: 0;
 	width: 100%;
 	height: 60px;
 	background-color: rgb(103, 127, 25);
}

#footer{
	font-size: 12px;
}

.center-block{
  	display: block;
 	float: right;
}

li a{
	color: white;
}

#textfooter{
	float: right;
	padding-right: 20px;
}

#newsletter{
	display: block;
	width: 400px;
	height: 0;
	font-size: 10px;
	color: black;
	margin-right: 300px;
}

#anmeldenbutton{
	text-align: center;	
}

#email{
	width: 125px;
	height: 20px;
	margin-top: 18px;	
}

#emaileingabenewsletter{
	float: left;	
}

#anmelden{
	float: left;
	margin-left: 10px;
	margin-top: 3.7px;
}

#anmeldenbutton{
	width: 125px;
	height: 20px;
	font-size: 10px;
	line-height: 5px;	
}

h1{
	font-size: 34px;	
}

#einleitung{
	font-size: 20px;	
}

body{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-signin {
 	max-width: 330px;
  	padding: 15px;
	margin: 0 auto;
}

h4{
	font-size: 20px;	
}

.form-signin .form-signin-heading,
.form-signin .checkbox{
	margin-bottom: 10px;
}

.form-signin .checkbox{
	font-weight: normal;
}

.form-signin .form-control{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus{
	z-index: 2;
}

.form-signin input[type="number"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"]{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.colorgraph {
  	height: 5px;
 	border-top: 0;
  	background: #677f19;
}

#dateiauswahl{
	float: left;
}

#registrierbutton{
	font-size: 14px;
	background-color: #677f19;
	margin-top: 5px;
	margin-right: 16px;
	border-color: #677f19;
}

#loginbutton{
	font-size: 14px;
	background-color: #677f19;
	margin-top: 5px;
	margin-right: 14px;
	border-color: #677f19;
}

#produktbild1{
	width: 242px;
	height: 200px;	
}

#produktbild2{
	width: 242px;
	height: 200px;	
}

#produktbild3{
	width: 242px;
	height: 200px;	
}

#produktbild4{
	width: 242px;
	height: 200px;	
}

#beitext{
	color: #000000;
	padding-left: 10px;
}

#submit{
	background-color: #677f19;
	border: #677f19;
}

.text-success{
	color: #00FF00;	
}

#warenname{
	color: #ffffff;
}

#preisanzeige{
	display: block;
	float: right;
	margin-bottom: 5px;
	font-size: 26px;
	color: #000000;
}

.thumbnail{
	background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron{
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
	margin-top: 30px;
	height: 250px;
}

#shopgruss{
	font-size: 28px;
}

#shopeinleitung{
	font-size: 20px;
}

#details{
	background-color: #677f19;
	border-color: #677f19;
}

#warenkorb{
	background-color: rgba(0, 0, 0, 0.4);
}

#produkteohnelogcontent{
	margin-top: 20px;	
}

#buttonk{
	background-color: #677f19;
	border: #677f19;
}

#titellogin{
	color: #000000;
}

#buttonapopup{
	background-color: #677f19;
	border: #677f19;
}

#buttondpopup{
	background-color: #677f19;
	border: #677f19;
}

#buttonipopup{
	background-color: #677f19;
	border: #677f19;
}

#bittelogin{
	color: #000000;
}

#loginpwmerken{
	color: #000000;
}

#buttonloginanmelden{
	background-color: #677f19;
	border: #677f19;
}

#regititel{
	color: #000000;
}

#zustimmungagb{
	color: #000000;
}

#erklaerung{
	color: #000000;
}

#erklaerungreg{
	background-color: #677f19;
}

#buttonreg{
	background-color: #677f19;
	border: #677f19;
}

.produktbilder{
	max-width: 242px;
	max-height: 200px;	
}

#dateiauswahltext{
	color: #000000;	
}